/* 4)საიტზე დაამატეთ 5 ცალი p თაგი, შემდგომ პირველ 2 ს გაუწერეთ rgb თი მწვანე ფერი, დანარჩენ 2 ს გაუწერეთ hex ით ლურჯი, და ბოლოს გაუწერეთ მწვანე hex ით */
P{
    (0,255,0)=#00ff00

}
P{
   (0,255,0)=#000000

}
P{
   color: #0517a4bf;

}
P{
   color: #0517a4bf;

}
P{
   color: #0ce357d3 ;

}