/* 1)შექმენით 3 ცალი p თაგი, პირველს გაუწერეთ external css ით წითელი დერი, მეორეს მწვანე ფერი და მესამეს ლურჯი inline css ით */
P{
    coler: #ff2e09;
}
P{
    color:#0ce357d3 ;
}
P{
    color: # 0517a4bf;
}