<!DOCTYPE html>
<html>
<head>
      <style>
      h1{
         flex-direction: row-reverse

         justify-content: flex-end

         align-items: flex-end 

         coler: blank;
         backrondcoler: green;
      }
      <style/>
</head>
<body>
<h1>Überschrift</h1>   
</body>
</html>