<!DOCTYPE html>
<html>
<head>
      <style>
      h1{
        flex-direction: column-reverse

        justify-content: flex-start

         align-items: center
      }
      <style/>
</head>
<body>
<h1>Überschrift</h1>   
</body>
</html>