
/* 1)საიტზე დაამატეთ 3 p თაგი, პირველს ქონდეს text-decoration overline dashed red, მეორეს ქონდეს text-decoration underline wavy purple, მესამეს ქონდეს text-align justify და text-decoration line-through dashed blue */
p{
    color: blueviolet;
    text-decoration: solid underline red;
    line-through:  dashed blue
}
p{
    color: blueviolet;
    text-decoration: solid underline purple;
    text-docoration: wavy  ;

}
p{
    color: green;(13,)
    text-align: justify;
}
